@font-face {
    font-family: Playfair;
    src: url(Playfair-Italic-VariableFont_opsz\,wdth\,wght.ttf) format(truetype),
    url(Playfair-VariableFont_opsz\,wdth\,wght.ttf) format(truetype);
    font-style: normal;
    font-weight: normal;
}
